@tailwind base;
@tailwind components;

/*
9:46pm 10-09-2020
Multi CLass pattern make your css DRY
.btn Class
*/
.btn {
    @apply inline-block;
    @apply px-5;
    @apply py-3;
    @apply rounded-lg;
    @apply text-sm;
    @apply uppercase;
    @apply tracking-wider;
    @apply font-semibold;
}

.btn:focus {
    @apply outline-none;
    @apply shadow-outline;
}

/*
9:41pm 10-09-2020
- Make sure custom css will be below the utilities marker to enable tailwind to add utility class after it
*/
.btn-indigo {
    @apply  bg-indigo-500;
    @apply text-white;
}

.btn-indigo:hover {
    @apply bg-indigo-400;
}

.btn-indigo:active {
    @apply bg-indigo-600;
}

.btn-gray {
    @apply  bg-gray-400;
    @apply text-gray-800;
}

.btn-gray:hover {
    @apply bg-gray-300;
}

.btn-gray:active {
    @apply bg-gray-300;
}

@tailwind utilities;
